html,
body {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  height: 100%;
  background-size: cover;
}

/*=======
navbar
=========*/

.navbar-toggle {
    z-index:3;
}

.warna{
    background-color: rgba(0,0,0,0.2);
    border:none;
}

.navbar-default .navbar-brand,.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 22px;
}

.navbar-default .navbar-nav > li:hover{
    background-color: #fff;
}

.navbar-left li a{
    height: 54px;
}

.navbar-left{
    margin:0 auto 0 -15px;

}

/*=======
Login 
=========*/
.wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    margin-top: 140px;
}

p.judul
{
    font-family: 'Open Sans' , sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.login
{
    width: 250px;
    margin: 0 auto;
}

form.login input[type="text"], form.login input[type="password"]
{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #FFFFFF;
    outline: 0;
}

form.login input[type="submit"]
{
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

form.login input[type="submit"]:hover
{
    transition: background-color 0.7s ease;
}


/*======
tambah
========*/
.bodi2{
    background: linear-gradient(to bottom right, cyan, blue, skyblue);
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
}

.warbel {
    color: #fff;
    background-color: rgba(255,255,255,0.2);
    border-radius: 15px;
}

.form-group .col-sm-12 input{
    margin-bottom: 10px;
}

.form-group .col-sm-8 input {
    background-color: rgba(0,0,0,0.2);
    color: rgb(255,255,255);
}

.col-sm-8 input.col-sm-8 input::-webkit-input-placeholder {
    color: rgba(255,255,255,0.7);
}

.col-sm-8 input:-moz-placeholder {
    color: rgba(255,255,255,0.7);
    opacity:  1;
}

.col-sm-8 input::-moz-placeholder { 
    color: rgba(255,255,255,0.7);
    opacity:  1;
}

.col-sm-8 input:-ms-input-placeholder {
    color: rgba(255,255,255,0.7);
}

/*=========
admin
===========*/

tr {
    background-color: rgba(255,255,255,0.1);
    color: #fff;
}

tr:hover {
    background-color: rgba(0,0,0,0.1);
}

tr td a{
    color: white;
    text-decoration: none;
}

tr td a:hover{
    color: white;
    text-decoration: none;
}

tr th{
    text-align: center;
}

/*======
edit
========*/
.bodi1{
    background: linear-gradient(to bottom left, magenta, blue);
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
}

/*========
sukses
==========*/
.bodi3{
    background: linear-gradient(to bottom , purple, magenta);
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
}

/*========
eror
==========*/
.bodi4{
    font-family: 'Beyond Wonderland';
    background: url('../gambar/eror.jpg');
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
}

.tengh {
    float: none;
    margin: 0 auto;
    margin-top: 140px;
}

.jdleror {
    font-size: 40px;
}

.eror {
    font-size: 100px;
    line-height: 0;
}

.tmbol a {
    font-size: 1.3em;
    text-transform: uppercase;
    color: white;
    border-radius: 6px;
    width: 20%;
    padding: 12px 0px;
    letter-spacing: 2px;
    display: inline-block;
    background: rgba(0,0,0,0.5);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    margin-bottom: 10px;
}

.tmbol a:hover {
    background: #7F00FF;
    text-decoration: none;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -o-transition:0.5s all;
    -moz-transition:0.5s all;
    -ms-transition:0.5s all;
}

/*=========
index
===========*/
.panel-body a {
    text-decoration: none;
    color: #fff;
}

/*=========
Bawah
===========*/

.bawah {
    position: fixed;
    height: 50px;
    background-color: rgba(0,0,0,0.2);
    bottom: 0;

}

.tengah {
    float: none;
    margin: 13px auto;
}

.tengah p{
    margin: 0;
}

.tengah a{
    text-decoration: none;
    color: #fff;
}
